$primary_color: #000000;
$input_form_family: 'lato';
$prim_background-color: #fafafa;

@mixin page-container {
  display: flex;
  flex-direction: column;
}
@mixin btn {
  color: white;
  background-color: #4db5f9;
  font-size: 1rem;
  padding: 0.7rem 3rem;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

@mixin form-input {
  padding: 1rem 1.7rem;
  text-align: left;
  font-size: 1em;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
