@import 'main';
.ongoing__page,
.courselectures__container {
  min-height: inherit;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
.ongoing__container {
  min-height: inherit;
  width: 100%;
  overflow-y: auto;

  background-color: #eeeeee90;
  .ongoing__card {
    // outline: 1.5px solid darkgray;
    background: white;
    margin: 0.5em 0.7em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.7em;

    .flex__1,
    .flex__2,
    .flex__3 {
      // outline: 2px solid darkgray;
      width: 100%;
      text-align: left;
      padding-left: 1em;
      padding-right: 0.5em;
      margin-bottom: 0.5em;
    }
    .flex__1 {
      display: flex;
      // justify-content: space-between;
      h2 {
        color: #3e3a3a;
      }
      .more {
        border-radius: 50%;
        height: fit-content;
        width: fit-content;
        padding-top: 4px;
        padding-left: 5px;
        padding-right: 5px;
        background: #d3d3d362;
        margin-left: auto;
      }
    }
    .flex__2 {
      color: gray;
    }
    .flex__3 {
      display: flex;
      justify-content: space-between;
      p {
        color: rgb(60, 60, 60);
        padding-top: 10px;
      }
      .attendance__status {
        padding: 5px 7px;
        border-radius: 4px;
        text-align: center;
        font-weight: 1.5em;
        height: fit-content;
      }
    }
  }
  .no__attendances__container {
    padding: 1em 3em;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background: white;
    .empty__box__illustration {
      margin: 1em 0;
      // outline: 1px solid green;
    }
    h2 {
      font-size: 1.7em;
    }
    p {
      font-size: 1em;
      font-weight: 900;
      color: gray;
      margin-top: 0.5em;
    }
    a {
      margin: 1em 0;
      @include btn;
    }
  }
}
.completed {
  color: blue;
  background-color: rgba(84, 84, 233, 0.059);
}
.ongoing {
  color: green;
  background-color: rgba(27, 189, 27, 0.059);
}

.attendance__form__container {
  // outline: 2px solid green;
  padding: 0em 0.5em;
  padding-bottom: 2em;
  .attendance__form {
    // outline: 2px solid lightgreen;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    .duration__controls {
      // outline: 1px solid red;
      display: flex;
      .control__icon {
        padding: 0.7em;
        border-radius: 15px;
        background-color: #b3b3b32a;
      }
      .duration__value {
        font-size: 2em;
      }
    }
    .form__input {
      padding: 1rem 1.7rem;
      text-align: left;
      font-size: 1em;
      border: none;
      width: 100%;
      background-color: #fff;
      background-color: #f2f2f2;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      border-radius: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .start__btn {
      @include btn;
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }
}
.attendedLectures__container {
  @include page-container;
  min-height: inherit;
  // background-color: antiquewhite;
  section {
    padding: 0.4em 1em;
  }
  .heading_section {
    h1 {
      text-align: left;
      font-size: 1.5em;
    }
  }
  .lists_section {
    // .lists__items {
    //   padding: 0.5em 0.7em;
    //   margin: 0.5em 0;
    // }
    .attended_course {
      // outline: 1px solid blue;
      outline: 1px solid gray;
      margin: 0.5em 0;
      border-radius: 20px;
      padding: 0.4em 0.7em;
      // a {
      // }
      .course_title {
        text-align: left;
        display: flex;
        margin-top: 0.4em;
        h3 {
          // margin-top: 0.4em;
          margin-top: 1.7%;
          margin-left: 0.4em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .lectures_scores {
        display: flex;
        // outline: 2px solid purple;
        margin-top: 1em;
        margin-bottom: 1.2em;
        .lecture_num,
        .score_num {
          // outline: 2px solid green;
          text-align: left;
          p {
            margin: 0;
          }
        }
        .score_num {
          margin-left: 1em;
        }
        b {
          font-size: 2em;
        }
        .course_code {
          height: fit-content;
          width: fit-content;
          padding: 0.4em 0.5em;
          background-color: #b9181818;
          color: #b91818;
          border-radius: 5px;
          margin-left: auto;
          margin-top: 0.5em;
        }
      }
    }
  }
  .form__group {
    display: flex;
    //   outline: 1px solid gray;
    margin-bottom: 1em;
    margin-top: 0.4em;
    padding: 0 0.3em;
    .dash {
      margin: 0.7em 0.2em;
      font-weight: 900;
    }
    .form__input {
      @include form-input;
      // outline: 1px solid blue;
      text-align: left;
      padding: 0.7rem 1rem;
      border-radius: 5px;
      font-size: 1.2em;
    }
  }
  .sub__btn {
    @include btn;
    // width: 97%;
    display: flex;
    justify-content: center;
  }
}
.courselectures__container {
  .lecture__item {
    display: flex;
    // outline: 1px solid forestgreen;
    padding: 0.4em 0;
    margin: 0.5em 0;
    // .icon {
    //   // outline: 2px solid red;
    // }
    .title_time {
      // outline: 2px solid blue;
      text-align: left;
      margin-left: 0.5em;
    }
    .time_passed {
      margin-left: auto;
      height: fit-content;
      padding: 0.5em;
      border-radius: 10px;
      color: #ff9a00;
      background-color: #ff99001c;
      font-weight: 900;
    }
  }
}
