@import 'main';

.headings__section {
  // outline: 1px solid black;
  margin-bottom: 0.5em;
  h1 {
    text-align: left;
    font-weight: 900;
    //   font-size: 1.5em;
  }
  .assign_cancel {
    display: flex;
    margin-left: auto;
  }
  .assign_btn {
    // outline: none;
    margin-right: 0.4em;
  }
  .cancel_btn,
  .assign_btn {
    min-height: 100%;
  }
}
.deptCourses__container {
  min-height: inherit;
  //   background-color: blanchedalmond;

  .dept_courses {
    // outline: 2px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5em;
    row-gap: 0.4em;

    .course_item {
      outline: 1px solid gray;
      //   display: flex;
      //   flex-direction: column;
      padding: 0.5em;
      border-radius: 20px;
      min-height: 10em;
      max-height: 10em;
      .course_title {
        // min-height: 7em;
        // max-height: 7em;
        // outline: 1px solid green;
        text-overflow: ellipsis;
        overflow: hidden;
        width: min-content;
      }
      h2 {
        text-align: left;
        // font-size: 1em;
      }
      .lecturer_num__photo {
        margin-left: auto;
        margin-top: auto;
        display: flex;
        .lecturers_num {
          background-color: rgba(0, 0, 0, 0.82);
          color: white;
          height: fit-content;
          //   min-width: 1em;
          //   max-width: 1em;
          text-align: center;
          border-radius: 50%;
          padding: 0.5em;
          display: flex;
          justify-content: center;
          align-content: center;
          //   aspect-ratio: 2/1;
        }
      }
      a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        min-height: 100%;
      }
    }
  }
  .more_options {
    // outline: 1px solid red;
    // display: none;
    width: fit-content;
    min-height: fit-content;
    position: absolute;
    z-index: 1;
    text-align: left;
    // transform: translateX(50%);
    transform: translateY(40%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-right: 0.5em;
    // padding: 0.3em;
    border-radius: 10px;
    background-color: white;
    .dropdown-content {
      // white-space: nowrap;
      display: flex;
      padding: 0.5em;
      // outline: 1px solid blue;
      p {
        margin-top: 0.7em;
      }
    }
  }
}
.assigned__container {
  min-height: inherit;
  .profItem {
    // outline: 1px solid #ca14141f;
    padding: 0.5em 0;

    .prof__info {
      display: flex;
      .name__privilege {
        // outline: 1px solid red;
        text-align: left;
        padding-left: 0.4em;
        width: 70%;

        h2 {
          margin: 0;
          margin-top: 0.4em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1em;
        }
        p {
          color: gray;
          font-weight: 900;
          font-size: 1.1em;
          margin: 0;
          margin-top: 0.2em;
        }
      }
      h2 {
        text-align: left;
        margin-left: 0.4em;
      }
      .list_controls {
        // outline: 1px solid yellowgreen;
        margin-top: 1em;
      }
    }
  }
  .checkbx {
    accent-color: #76189f;
  }
}
