.dialog_box {
  //   outline: 2px solid red;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  padding: 1.5em;
  row-gap: 1em;

  box-shadow: -1px 4px 10px 1px rgba(181, 177, 177, 1);
  -webkit-box-shadow: -1px 4px 10px 1px rgba(181, 177, 177, 1);
  -moz-box-shadow: -1px 4px 10px 1px rgba(181, 177, 177, 1);
  .dialog__btn {
    // color: white;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
    transition: all 0.4s;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*Add later when we use this for the button in form*/
    border: none;
    cursor: pointer;
    margin: 0 0.2em;
  }
  .cancel_btn {
    background-color: transparent;
    color: #284b63;
    outline: 1px solid #284b63;
  }
  .proceed_btn {
    background-color: #284b63;
    color: white;
  }
}
