.not-loggedIn {
  display: none;
}

.nav__bar {
  background-color: #ffffff;
  overflow: hidden;
  // position: fixed;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1em 1em;
  z-index: 5;
  border-top: 1px solid gray;
  display: flex;
  a {
    margin-top: 2em auto;
    // color: #1d2021;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
  }
  // .navlink {
  //   display: flex;
  //   flex-direction: column;
  //   align-content: center;
  //   justify-content: center;
  //   text-align: center;
  //   p {
  //     text-align: center;
  //     width: 100%;
  //   }
  // }
}
