@import 'main';
.profile__container {
  // background-color: rgba(0, 0, 255, 0.155);
  min-height: inherit;
  overflow: auto;
  .form__input {
    @include form-input;
    margin: 0.5em 0;
    font-size: 1.2em;
    outline: 1px solid rgba(128, 128, 128, 0.491);
    // background: white;
  }
  .save__btn {
    @include btn;
    // width: fit-content;
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    // padding-top: 0.9em;
  }

  //NOTE: STYLING FOR THE FIRST SECTION (ACCOUNT SETTINGS)
  .acc_setting__section {
    // outline: 1px solid gray;
    .acc_setting__form {
      padding: 0 0.7em;
      // outline: 1px solid gray;
      text-align: right;
      .photo__surname {
        display: flex;
        // outline: 2px solid black;
        padding: 1em 0;
      }
    }
  }
  .security_setting__section {
    // outline: 1px solid gray;
    .security_setting__form {
      // outline: 1px solid gray;
      padding: 0 1em;
      text-align: right;
      margin: 0.5em 0;
    }
    .logout__btn {
      background: black;
      margin: 0.5em 0;
    }
  }
}
.form__user-photo {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
}
.label__upload {
  border: 1px solid green;
  width: 9em;
  height: fit-content;
  margin-top: 45px;
  transition: 0.2s all;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 5px;

  .form__upload {
    width: 0em;
    opacity: 0;
    margin-top: 0;
  }
}

.label__upload:hover {
  background-color: gray;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-10%);
}
.overview__container {
  @include page-container;
  min-height: inherit;
  overflow: auto;
  padding: 0 1%;
  .displayname {
    // outline: 1px solid red;
    display: flex;
    padding: 0 1em;
  }
  // .password_link {
  // }
  .row {
    // outline: 1px solid blue;
    text-align: center;
    margin: 0.5em 0;
  }

  .overview_btn {
    @include btn;
    width: 92%;
    white-space: nowrap;
    font-weight: 600;
  }
  .logout {
    background-color: rgba(231, 231, 231, 0.315);
    color: #284b63;
    outline: 1.5px solid #284b63;
    font-weight: 600;
  }
  .labels {
    text-align: left;
    padding: 0 1em;
    margin: 0;
  }
}

.change_password__container,
.profile__container,
.login-container {
  @include page-container;
  min-height: inherit;
  overflow-y: auto;

  div.input-block {
    position: relative;
    margin: 0.7em 0;
  }
  div.input-block input {
    font-weight: 500;
    font-size: 1em;
    color: #495055;
    width: 100%;
    padding: 1rem 1.7rem;
    border-radius: 10px;
    border: 2px solid #d9d9d9;
    outline: none;
  }
  div.input-block span.placeholder {
    position: absolute;
    margin: 17px 0;
    padding: 0 4px;
    font-family: Roboto, sans-serif;
    color: #6c757d;
    display: flex;
    align-items: center;
    font-size: 1em;
    top: 0;
    left: 17px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
  }
  div.input-block input:valid + span.placeholder,
  div.input-block input:focus + span.placeholder {
    transform: scale(0.8) translateY(-30px);
    background: #fff;
  }
  div.input-block input:focus {
    color: #284b63;
  }
  div.input-block input:focus + span.placeholder {
    color: #284b63;
  }
  .password_btn {
    @include btn;
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
  }
}
.login-container {
  flex-direction: column;
  align-content: space-around;
  row-gap: 2em;
}
.profile__container {
  .file__upload {
    cursor: pointer;
    outline: 1px solid gray;
    // padding-top: 5em;
    // min-height: 4em;
    // min-width: 4em;
    border-radius: 50%;
    background-color: #dddddd68;
  }
  // .photo__surname {
  //   display: flex;
  //   // outline: 2px solid black;
  //   // padding: 1em 0;
  //   // .surname__input {
  //   //   margin-left: 0.5em;
  //   //   margin-top: 0.8em;
  //   //   margin-bottom: 0.8em;
  //   // }
  // }
}
