@import 'main';
/* NOTE:: STYLING FOR THE MAIN ALL REOSURCES PAGE */

.resource__container {
  min-height: inherit;
  overflow: auto;
  background-color: #edededb4;
  .controls__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 0.5fr 0.5fr;
    column-gap: 0.5em;
    row-gap: 0.4em;
    padding: 1em 0.5em;
    // min-height: inherit;

    overflow: auto;
    .control {
      //   outline: 1px solid gray;
      font-size: 1.1em;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      padding: 0.9em;
      text-align: left;
      row-gap: 0.5em;
      background-color: white;
      height: fit-content;

      //   align-content: space-around;
      .icon {
        border-radius: 50%;
        text-align: center;
        height: 3em;
        width: 3em;
      }
      h2 {
        margin: 0.4em 0;
        min-height: 3em;
        max-height: 3em;
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        color: #626262;
        font-size: 10%;
        // max-width: 5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
      }
      a {
        background-color: black;
        border-radius: 50%;
        text-align: center;
        min-height: 2.7em;
        min-width: 2.7em;
        margin-left: auto;
      }
    }
  }
}
.heading_btn__section {
  background-color: white;
  h1 {
    text-align: left;
    font-size: 1.5em;
  }
}
.icon {
  // outline: 1px solid gray;
  text-align: right;
}

section {
  padding: 0.4em 1em;
}
.list__item {
  outline: 1px solid lightgray;
  background-color: white;
  margin: 1em 0;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 1px 8px 23px -8px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 1px 8px 23px -8px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 1px 8px 23px -8px rgba(0, 0, 0, 0.68);
}
/* NOTE:: STYLING FOR THE PROFESSOR REOSURCE PAGE */
.professors__container {
  // outline: 2px solid #8e18b912;
  // background-color: #efeeeead;
  min-height: inherit;
  // outline: 2px solid gray;
  .prof__info {
    display: flex;
    // outline: 1px solid violet;

    .name__privilege {
      // outline: 1px solid gray;
      text-align: left;
      padding-left: 0.4em;
      h2 {
        margin: 0;
      }
      p {
        color: gray;
        font-weight: 900;
        font-size: 1.1em;
        margin: 0;
      }
    }
  }
}

.lectureHalls__container {
  min-height: inherit;
  .lock__status {
    // outline: 1px solid gray;
    width: fit-content;
    padding: 0.4em 0.5em;
    border-radius: 5px;
    // text-transform: uppercase;
    font-weight: 900;
  }
  .locked {
    color: #dc1a1a;
    background-color: #dc1a1a15;
  }
  .unlocked {
    color: #139624;
    background-color: #13962418;
  }
}
.course_resource__container {
  .courses_control__form {
    margin-top: 0.5em;
  }
  .coursename__code {
    // outline: 1px solid gray;
    text-align: left;
    P {
      font-size: 1.1em;
      font-weight: 600;
      color: gray;
      margin: 0;
    }
    .course_code {
      width: fit-content;
      padding: 0.4em 0.5em;
      // outline: 1px solid gray;
      background-color: #8e18b918;
      color: #8e18b9;
      border-radius: 5px;
    }
  }
}
.faculty_resource__container {
  min-height: inherit;
  // .lists__section {
  //   background: rgba(240, 128, 128, 0.475);
  // }
}

.list__items {
  outline: 1px solid gray;
  border-radius: 20px;
  padding: 0.5em 0.7em;
  margin: 0.5em 0;
  .faculty_item {
    // outline: 1px solid #ca14141f;
    display: flex;
    padding: 0.5em 0;
    h2 {
      text-align: left;
      margin-left: 0.4em;
      padding: 15px 0;
    }
    .icon {
      margin-left: auto;
      margin-top: 0.5em;
      background-color: #ca14144a;
    }
    .edit,
    .icon {
      display: flex;
      justify-content: center;
      min-height: 3em;
      max-height: 3em;
      min-width: 3em;
      max-width: 3em;
      border-radius: 50%;
      margin-top: 0.5em;
      background: #f9b94a14;
    }
  }
}
input[type='checkbox'] {
  /* ...existing styles */
  width: 2.5em;
  // outline: 1px solid green;
  border-radius: 20px;
}
input[type='checkbox']::before {
  /* ...existing styles */

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
