@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*

STYLING THAT CAME WITH VITE
 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
p,
h1,
h2,
h3 {
  font-family: 'Albert Sans', sans-serif;
}
label {
  font-family: 'Lato', sans-serif;
}
.spinner_icon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: fit-content;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NOTE: MEDIA QUERY FOR MOBILE VIEW */
@media (max-width: 900px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    max-width: 100%;
    min-height: inherit;
    /* outline-style: solid;
    outline-color: red; */
  }
  #root {
    width: 100%;
    min-height: inherit;
  }
  html {
    max-width: 100vw;
    min-height: 100vh;
    margin: auto;
  }
  .App {
    text-align: center;
    /* outline: 5px solid red; */
    width: 100%;
    min-height: inherit;
  }
  .nav__bar {
    justify-content: space-around;
  }
  .navlink {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .navlink p {
    text-align: center;
    width: 100%;
  }
  .app_flex {
    min-height: inherit;
  }
  /*   NOTE: STYLING FOR THE EMPTY BOX ILLUSTRATION - LOCATED IN THE SEMESTER ATTENDANCE SCORES)*/
  .lists__illustration {
    /*  outline: 2px solid gray; */
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
  }
  .login-container {
    padding: 0 4%;
  }
}

/* NOTE: MEDIA QUERY FOR THE LAPTOP & DESKTOP VIEW */
@media (min-width: 992px) {
  body {
    max-width: 100%;
    min-height: inherit;
    /* outline-style: solid;
    outline-color: red; */
  }
  #root {
    width: 100%;
    min-height: inherit;
  }
  html {
    max-width: 100vw;
    min-height: 100vh;
    margin: auto;
  }
  .App {
    text-align: center;
    /* outline: 5px solid red; */
    /* width: 100%; */
    min-height: inherit;
  }

  .nav__bar {
    /* outline: 1px solid red; */
    height: 100vh;
    width: fit-content;
    /* width: 10%; */
    /* width: 100%; */
    /* position: fixed;  */
    z-index: 0;
    /* top: 0;  */
    /* left: 0; */
    display: flex;
    flex-direction: column;
    background-color: #c2c2c21c;
    border-radius: 10px;
  }
  .navlink {
    /* outline: 1px solid blue; */
    margin: 0.7em 0.7em;
    padding: 0.5em;
    border-radius: 10px;
    text-align: left;
  }

  .navlink p {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
  }

  .app_flex {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  .resource__container,
  .lectureHalls__container,
  .faculty_resource__container,
  .deptCourses__container,
  .assigned__container,
  .professors__container,
  .course_resource__container,
  .ongoing__page,
  .signed__page,
  .QnA__container,
  .overview__container {
    flex-grow: 1;
    padding: 0 2%;
  }

  .lists__illustration {
    display: none;
  }
  .login-container {
    padding: 0 20%;
  }
}
